html
    head
        link(rel="stylesheet",type="text/css",href="./css/bootstrap.min.css")
        link(rel="stylesheet",type="text/css",href="./css/login.css")
        script(src='https://code.jquery.com/jquery-2.2.4.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="./js/masonry.js")
        link(rel="stylesheet",type="text/css",href="./css/masonry.css")


            

    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                  a.navbar-brand(href='#') Blugins
        .row
            .col-lg-3.col-lg-offset-3
        .row
            .col-lg-6.col-lg-offset-3
                .jumbotron
                    h1.text-center Month, Year
                .row
                    .col-lg-3
                        h4 Days:
                .grid
                    .grid-item
                        .grid-item-content
                            asdasdasdas
                    .grid-item
                        .grid-item-content 2
                    .grid-item
                        .grid-item-content 3
                    .grid-item
                        .grid-item-content 4
                    .grid-item
                        .grid-item-content 5
                    .grid-item
                        .grid-item-content 6
                    .grid-item
                        .grid-item-content 7
                    .grid-item
                        .grid-item-content 8
                    .grid-item
                        .grid-item-content 9
                    .grid-item
                        .grid-item-content 10
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
                    .grid-item
                        .grid-item-content
        .row
            .col-lg-2.col-lg-offset-3.push-top
                a.btn.btn-info(href="#")   View Monthly Result
                