html
    head
        link(rel="stylesheet",type="text/css",href="./css/bootstrap.min.css")
        link(rel="stylesheet",type="text/css",href="./css/login.css")
        script(src='https://code.jquery.com/jquery-2.2.4.min.js')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="./js/masonry.js")
        link(rel="stylesheet",type="text/css",href="./css/masonry.css")
        
        script.
            $(function () {
                $('#btn-range').click(function(){
                    console.log("IN");
                    var from = $('#from').val();
                    var to = $('#to').val();
                    window.location.replace("http://blugins.herokuapp.com/dashboard/range/"+from+'-'+to);
                });
            });
             
            

    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                  a.navbar-brand(href='#') Blugins
        .row
            .col-lg-3.col-lg-offset-3
        .row
            .col-lg-6.col-lg-offset-3
                .jumbotron
                    h1.text-center=month +' of '+year
                .row
                    .col-lg-3
                        h4 Days:
                .grid
                    
                    - for (var i = 1; i < 32; ++i) {
                        .grid-item
                            .grid-item-content 
                                a(href="/dashboard/"+i)
                                    h4.item=i
                    - }
                        
                    
        .row
            .col-lg-2.col-lg-offset-3.push-top
                .row.form-group
                    .col-lg-6.has-warning
                        label.control-label(for='inputWarning') From
                        input#from.form-control(type='text')
                    .col-lg-6.has-warning
                        label.control-label(for='inputError') To
                        input#to.form-control(type='text')
                .row
                    .col-lg-12
                        button.btn.btn-primary#btn-range    Go
                            

        .row
            .col-lg-2.col-lg-offset-3.push-top
                a.btn.btn-info(href="#")   View Monthly Result
                